*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 1120px;
    width: 100%;
    height: 100%;
    margin: auto;
}
body{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
}
.section_1{
    width: 100%;
    background-image: url("images/slide1\ \(2\).jpg");
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
i{
    padding: 5px;
    font-size: 10px;
    color: #434343;
    background-color: white;
    border-radius: 50%; 
    margin: 5px;
}
header{
    width: 60%;
    height: 30px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-between;   
}
.logo{
    width: 15%;
    background-image: url("images/logo.png");
    background-size:contain;
    background-repeat: no-repeat;
 }
 #logo1{
    width: 15%;
    height: 45px;
    background-image: url("images/logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    margin: 0 auto;
    display: none;
 }
 #vertical{
     width: 80%;
     background-color: rgba(236, 83, 63, 0.301);
     margin: 0 auto;
     display: none; 
 }
 .verticalMenu{
     list-style: none;
     margin: 0 auto;
     font-size: 10px;
     color: #454846;
     padding: 9px;
 }

.text{
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #EC523F;
    
}
.menu{
    align-items: center;  
    display: flex;
}
ul{
    display: flex;
    margin-right: 15px;
    list-style: none;
}
li{
    font-size: 10px;
    margin-right: 15px;
    color: #454846;
}
li:hover{
    color: #EC523F;
}
ul>:first-child{
    color: #EC523F;
}
h2 , .let{   
    color: #FFFFFF;
    text-align: center;
}
hr{
    margin: 0 auto;
    width: 30%;
}
.let{
    color:#F3F0EB;
    margin: 2%;
}
button{
    width: 110px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: #EC523F;
    color: #FEFFFF;
    font-size: 8px;
    margin: 2% auto;
    
}
.section_2{
    width: 100%;
    height: 30%;
    margin: 0 auto;
}
.textDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
h2{
    margin:2%;
}
h3{   
    color: #454846;
    border-bottom: 1px solid ;
}
.let1{
    color:#7a7e7b;  
}
#first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#first>*{
    margin-right: 10px;
    margin-top: 10px;
}
.img0{
    background-color: #1ABB99;
}
.img1{
    background-color: #E67F22;
}
.img2{
    background-color: #3598DB;
}
.img3{
    background-color: #2DCC72;
}
.section_3{
    height: 40%;
}
#second{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
#second>*{
    margin-right: 10px;
    margin-bottom: 10px;
}
.images0{
    background-image: url("images/p1.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.images1{
    background-image: url("images/p2.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.images2{
    background-image: url("images/p3.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.images3{
    background-image: url("images/p4.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.images4{
    background-image: url("images/p5.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.images5{
    background-image: url("images/p6.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.images6{
    background-image: url("images/p7.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
.images7{
    background-image: url("images/p8.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}
   
@media screen and (max-width: 1080px) {
       #second{
         width: 70%;
      }

      li{
          font-size: 7px;
      }
      .text{
          font-size:10px;
      }
      
    }
@media screen and (max-width: 920px) {   
    .header{
       
    }    
          .logo{
            background-size: 90% 100%;
            background-repeat: no-repeat;
          }
          
        }
@media screen and (max-width: 667px) { 
    #first{
       width: 70%;
       margin: 0 auto;

    } 
}    
    
@media screen and (max-width: 500px) {
   
        header{
            display: none;
        }
        #logo1{
            display: block;
        }
        #vertical{
            display: none;
        }
       
    }
    
