*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    margin: auto;
}
body{
    width: 100%;
    height: 100%;
    max-width: 1120px; 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVMQydSgVOZk_9jPlRCeAJT2QOiQM8xTYDX04fU60fHrJA_V01HQ");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
h1{
    width: 100%;
    color: #98A2A3;
    text-align: center;
}
#wrap{
    width: 70%; 
    margin: 0 auto;
}
#main{
    width: 100%;
    margin-top: 1%; 
    display: flex;
    justify-content: space-around;

}
#addDiv{
    width: 100%;
 
    border: 1px solid rgb(187, 181, 181);
    display: flex;
    background-color: #FFFFFF;
    }
#addDiv>*{
    padding: 10px;
}
span{
    flex-grow: 1;
    color: green;
}
.fa-check-square{
    color: green;
}
.fa-trash-alt{
    color: rgb(187, 181, 181);
}
button{
    /* margin: 7px; */
    padding: 10px 30px;
    color: rgb(114, 107, 107);
}
input{
    padding: 5px;
}
