*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
.wrap1{
    max-width:100%;
    min-width: 370px;;
    height:100%;
    margin: 0 auto;
    transform: translateY(15px);
    background-image: url(image/image.jpg);
    background-size:cover;
} 
.wrap2{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to right,#8E9BBB,rgba(95, 161, 151, 0.5)) ;
    display: flex;
    align-items: center;
}
form{
    width: 50%;
    height: 500px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border:none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;       
}
 .first{
    display: block;
    padding-top: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
 input ,button{   
     border-radius: 5px;
     border: 0.5px solid #EDEDED; 
     padding: 1.5%;
     margin:2% 12%;
  }
 ::placeholder{
     color: #B1B1B1;
     font-size: 11px;
 }
 #password{
     background: url("image/icon.png") no-repeat;
     background-size: 8px;
     background-position: 98%;
   
    }
 input[type ="checkbox"]{
     padding: 0;
     margin: 0;
     margin-left: 12%;
    
    }
.second{
    font-size: 12px;
    color: #717171;  
}
a{
    color: #717171;
}
.login{
    text-align: center;
    font-size: 12px;
   color:#717171 ;
}
input[type=button]{
         
     padding: 15px;
    background-image:linear-gradient(to right,#9DAEE2,#71EBD6);
    font-size:10px;
    color: #ECFFFF;   
    
}
.last_a{
    color: #313131;
    font-weight: bold;
}
span{
    text-align: center;
    color: red;
    font-size: 12px;
}

#demo{
    color: #ECFFFF;
    text-align: center;
    transform: translateY(100px);
    display: none;
}

@media screen and (max-width: 505px){
 .first_a{
     white-space: pre;
     margin: 20%;
  }
}





     


 

