*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
.wrap1{
    max-width:800px;
    height:89%;
    margin: 0 auto;
    transform: translateY(15px);
    background-image: url(image/image.jpg);
    background-size:cover;
} 
.wrap2{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(to right,#8E9BBB,rgba(95, 161, 151, 0.5)) ;
}
form{
    width: 350px;
    height: 400px;
    margin: 0 auto;
    transform: translateY(75px);
    background-color: #FFFFFF;
    border:none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}
 .first{
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
 .data{
     width: 300px;
     margin: 0 auto;
     padding: 5px;
     border-radius: 5px;
    border: 1px solid #EDEDED; 
 }
 ::placeholder{
     color: #B1B1B1;
     font-size: 11px;
 }
 .check{
     transform: translateX(55px);
 }
.second{
    font-size: 12px;
    color: #717171;  

}
a{
    color: #717171;
}
.login{
    text-align: center;
    font-size: 12px;
   color:#717171 ;
}
input[type=submit]{
    width: 300px;
     margin: 0 auto;
     padding: 10px;
    background-image:linear-gradient(to right,#9DAEE2,#71EBD6);
    font-size:10px;
    color: #ECFFFF;   
    
}
.lastA{
    color: #313131;
    font-weight: bold;
}

 

